.sadi {
  border-right: 1px solid rgba(153, 153, 153, 0.37);
}
.ig-post-middle {
  padding-left: 140px;
  .post-info {
    text-align: center;
    ul {
      hr {
        padding: 0;
        margin: 0;
      }
      li {
        a {
          display: inline-block;
          color: #000;
          padding: 10px 0px;
          text-transform: capitalize;
        }
      }
    }
  }
}
.ig-user-right {
  padding-right: 100px;
  margin-top: 30px;
  .user-login-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .user-login-info-left {
      display: flex;
      align-items: center;
      .login-info-left {
        a {
          img {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            cursor: pointer;
          }
        }
      }
      .login-info-right {
        margin-left: 10px;
        h5 {
          font-size: 14px;
          color: #999;
        }
        a {
          display: inline-block;
          font-size: 14px;
          font-weight: 600;
          color: #000;
        }
      }
    }
    .user-login-info-right {
      a {
        text-transform: capitalize;
        display: inline-block;
        font-size: 14px;
        &:hover {
          color: rgba(1, 99, 99, 0.74);
        }
      }
    }
  }
  .susggest-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    .suggest-heading-left {
      h5 {
        font-size: 15px;
        color: #7a7878;
      }
    }
    .suggest-heading-right {
      a {
        display: inline-block;
        color: #000;
        text-transform: capitalize;
        font-size: 12px;
      }
    }
  }
}
.modal-head {
  text-align: center;
  h5 {
    padding: 5px 0px;
  }
  hr {
    padding: 0;
    margin: 0;
  }
}
.ig-modal-body {
  padding: 20px;
}
